.userPhoto {
    height: 100px;
}

.pagination {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    margin: 0 auto;
    background-color: #6dd2d5;
    align-self: center;
    max-width: 60%;
    justify-content: center;
}

.pagination button {
    background-color: burlywood;
    margin: 0 10px;
}

.pagination .selectedPage {
    background-color: gold;
}