.formControl .error {
    border: 2px solid #d43b3b;
    border-radius: 3px;
}

.formControl span {
    border: 3px solid #d43b3b;
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 4px;
}

.formControl div {
    margin: 10px 0;
}

.loginCommonError {
    margin: 5px 0;
    border: 3px solid #d43b3b;
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 4px;
}

.loginHeader {
    display: flex;
    justify-content: center;
}

.loginForm div {
    display: flex;
    justify-content: center;
}