.header {
  background-color: green;
  padding: 11px;
  display: flex;
  align-items: center;
  grid-area: header;
  justify-content: space-between;
}

.header .logo {
  height: 100%
}

.login_block {
  float: right;
}

.login_block a {
  color: white;
}