.app_wrapper {
  display: grid;
  margin: 0;
  grid-template-areas:
      'header header'
      'menu main';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 15% 1fr;
  grid-gap: 10px;
  /*background-image: url('./img/bg2.png');*/
  /*background-repeat: no-repeat;*/
  /*background-color: #2e3141;*/
  /*background-position-y: 60px;*/
  /*background-position-x: right;*/
  /*background-size: 90%;*/
  background-color: #5574c1;
  min-height: 100vh;
  max-width: 100vw;
}
.app_wrapper_content {
  grid-area: main;
  height:100%;
}
