.App {
  display: grid;
  grid-template-areas:
      'header header'
      'menu main';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 15% 1fr;
  grid-gap: 10px;
  background-image: url('./img/bg2.png');
  background-repeat: no-repeat;
  background-color: #2e3141;
  background-position-y: 60px;
  min-height: 100vh;
  background-position-x: right;
  background-size: 90%;
  height: 2000px;
}
